<a href="https://colab.research.google.com/github/zodongchan/zodongchan/blob/main/Chapter1720_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter17 ~ 20 수업은 잘 들으셨나요?

Chapter17 ~ 20의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제1]__

print_even 리스트 내에 있는 값 중 짝수만 화면에 출력되도록 print_score 함수를 생성 후 결과값을 출력해주세요

print_even ([1, 3, 2, 10, 12, 11, 15])

In [14]:
#print_even ([1, 3, 2, 10, 12, 11, 15]) # 짝수 정의 한다음 짝수 불러오기?

def print_even(list_num):
    for i in list_num:
        if i % 2 == 0:
            print(i)
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

---

__[문제2]__

비어있는 오즈 (oz) 클래스를 "정의" 해보세요.

In [18]:
class oz:
    pass

---

__[문제3]__

오즈(oz) 클래스의 인스턴스를 "생성" 하고 이를 coding 변수로 할당해보세요.

In [19]:
class oz:
    pass

print(oz)

<class '__main__.oz'>

---

[문제4]

오즈(oz) 클래스에 "클래스 정복"을 출력하는 기본 생성자를 추가해주세요

In [25]:
class oz:
    def __init__(self):
        print("클래스 정복")
oz()

클래스 정복

---

__[문제5]__

오즈 (oz) 클래스에 (이름, 나이, 코딩레벨)을 받는 생성자를 추가해주세요

coding = oz("김코", 30, "A")

In [36]:
class oz:
    def __init__(self, 이름, 나이, 코딩레벨):
        self.이름 = 이름
        self.나이 = 나이
        self.코딩레벨 = 코딩레벨
        print(f"이름: {self.이름}, 나이: {self.나이}, 코딩레벨: {self.코딩레벨}")

coding = oz("김코", 30, "A")

이름: 김코, 나이: 30, 코딩레벨: A

---

__[문제6]__

5번 문제에서 생성한 인스턴스의 이름, 나이, 성별을 출력해주세요.



출력 결과  ) <br>
이름 : 김코  
나이 : 30  
코딩레벨 : A  

__Tips__


- 인스턴스 변수에 접근하여 값을 출력하면 됩니다  : )

In [ ]:
class oz:
    def __init__(self, 이름, 나이, 코딩레벨):
        self.이름 = 이름
        self.나이 = 나이
        self.코딩레벨 = 코딩레벨
coding = oz("김코", 30, "A")

print(f"이름: {coding.이름}")
print(f"나이: {coding.나이}")
print(f"코딩레벨: {coding.코딩레벨}")

---

__[문제7]__

오즈 (oz) 클래스에서 이름, 나이, 성별을 출력하는 who() 메소드를 추가하고 who()메소드를 이용해 아래 출력 결과를 만들어주세요


출력 결과 ) <br>
이름: 김코, 나이: 30, 코딩레벨: A

In [37]:
class oz:
    def __init__(self, name, age, coding_level):
        self.name = name
        self.age = age
        self.coding_level = coding_level
        print("클래스 정복")

    def who(self):
        print(f"이름: {self.name}, 나이: {self.age}, 코딩레벨: {self.coding_level}")

coding = oz("김코", 30, "A")

coding.who()

클래스 정복
이름: 김코, 나이: 30, 코딩레벨: A